@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}
ul,
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;

  color: #fff;
}
h1 {
  font-family: Work Sans;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
}
.container {
  background-color: #2b2b2b;
  max-width: 1310px;
  margin: 0 auto;
}
.header__container {
  padding: 20px 0 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-icon {
  width: 32px;
  height: 32px;
}
.ntf-logo {
  width: 200px;
  height: 20px;
}
.burger__menu-btn {
  display: none;
}
.header__nav {
  width: 50%;
}
.nav-list__item {
  color: #fff;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.user-icon {
  width: 20px;
  height: 20px;
}
.registration__btn,
.hero__btn {
  background-color: #a259ff;
  border-radius: 20px;
  display: flex;
  height: 60px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 80px 0 80px;
}
.hero__description {
  display: flex;
  flex-direction: column;
}
.hero__title {
  padding-top: 0;
}
.hero__title-mobil {
  display: none;
}
.hero__text {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 0 30px;
}
.rocket-icon {
  width: 20px;
  height: 20px;
}
.hero__btn {
  width: 224px;
  padding: 0px 50px;
}
.hero__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}
.hero__price {
  display: flex;
  flex-direction: column;
}
.hero__number {
  font-family: Space Mono;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.hero__note {
  font-family: Work Sans;
  font-size: 23.99px;
  font-style: normal;
  font-weight: 400;
}
.hero__img {
  height: 510px;
  background-color: #3b3b3b;
  border-radius: 20px;
}
.hero__text1 {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  padding: 20px 20px 10px 20px;
}
.hero__avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  gap: 12px;
}
.trending__container {
  padding: 80px 30px;
}
.trending__name {
  display: flex;
  flex-direction: column;
}
.trending__title {
  display: inline;
  padding-bottom: 10px;
  padding-left: 60px;
}
.trending__text {
  display: inline;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 60px;
  padding-left: 60px;
}
.trending__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card__images {
  width: 330px;
  height: 445px;
}
.card__images {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
.card__img1 {
  grid-column: 1/5;
  grid-row: 1/4;
}
.card__img2 {
  grid-column: 1/2;
  grid-row: 4/5;
}
.card__img3 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.card__img4 {
  grid-column: 3/4;
  grid-row: 4/5;
}

.card__title {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  padding: 15px 0 10px;
}
.creator__text {
  padding-bottom: 60px;
  padding-top: 10px;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.card__avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.creator__container {
  padding: 80px 60px;
}
.creator__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}
.creator__btn {
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid #a259ff;
}
.creator__btn-mobil {
  display: none;
}
.creator__cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.creator__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 238px;
  border-radius: 20px;
  background: #3b3b3b;
  align-items: center;
}
.creator__circle {
  display: inline-block;
  background: #2b2b2b;
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.circle__number {
  position: relative;
  top: 1.6em;
  left: -5.3em;
  padding: 0em 0.9em;
  color: #858584;
}
.creator__img {
  padding: 20px 65px 20px;
}
.creator__avatarka {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
.creator__price {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #858584;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.creator__currency {
  color: #fff;
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.categories__container {
  padding: 80px 60px;
}
.categories__title {
  padding-bottom: 60px;
}
.categories__cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.categories__card {
  width: 240px;
  height: 310px;
  border-radius: 20px;
  background: #3b3b3b;
}
.categories__name {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  padding: 20px 30px;
}
.discover__container {
  padding-bottom: 80px;
}
.discover__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.discover__title {
  padding: 0 0 10px 40px;
}
.discover__text {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 0 0 60px 40px;
}
.eye-icon {
  width: 20px;
  height: 20px;
}
.discover__btn {
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  border: 2px solid #a259ff;
  margin-right: 40px;
}
.discover__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.discover__card {
  border-radius: 20px;
  background: #3b3b3b;
  height: 469px;
  display: flex;
  flex-direction: column;
}
.discover__name {
  padding: 20px 30px 0 30px;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
.discover__avatar {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  padding-left: 30px;
}
.discover__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 30px 0 30px;
}
.fix-price,
.highest-bid {
  padding-bottom: 8px;
  color: #858584;
  font-family: Space Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.fix-number,
.highest__number {
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.discover__price1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.discover__price2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.highlight__container {
  padding: 0 70px 0 70px;
}
.highlight__avatar {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: #3b3b3b;
  width: 151px;
}
.highlight__title {
  padding: 30px 0;
}
.highlight__btn {
  display: flex;
  height: 60px;
  padding: 22px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: #fff;
  color: #2b2b2b;
}
.highlight__img {
  position: relative;
  background-size: cover;
  height: 670px;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(162, 89, 255, 0) 0%,
      #a259ff 100%
    ),
    url(../img/highlight_img.png);
}
.highlight__info {
  height: 220px;
  position: absolute;
  top: 360px;
  left: 115px;
  bottom: 0;
  right: 115px;
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.highlight__timer {
  display: flex;
  height: 147px;
  width: 295px;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
}
.timer__block {
  display: flex;
  flex-direction: row;
  gap: 23px;
}
.hours,
.minutes,
.seconds {
  font-family: Space Mono;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
}
.hours__colon,
.minutes__colon {
  font-family: Space Mono;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 0 5px;
}
.start__container {
  padding: 80px 60px;
}
.start__text {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 0 48px;
}
.start__cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}
.start__card {
  width: 330px;
  height: 439px;
  border-radius: 20px;
  background: #3b3b3b;
  display: flex;
  flex-direction: column;
}
.start__img {
  padding: 10px 30px 20px 30px;
}
.start__name {
  text-align: center;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
.start__description {
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 30px 30px 30px;
}
.subscription__container {
  padding: 0 60px;
}
.subscription__card {
  padding: 60px;
  border-radius: 20px;
  background: #3b3b3b;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
}
.subscription__image {
  width: 425px;
  height: 310px;
}
.subscription__title {
  padding-top: 33px;
  align-self: stretch;
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
}
.subscription__text {
  align-self: stretch;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 0 49px;
}
.subscription__button,
.digest__button {
  max-width: 425;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 40px;
}
.subscription__btn,
.digest__btn {
  display: flex;
  height: 60px;
  padding: 20px 0px 16px 20px;
  gap: 12px;
  align-self: stretch;
  border-radius: 20px;
  background: #fff;
  width: 425px;
}
.btn__text {
  width: 170px;
  color: #2b2b2b;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.subscription__btn1,
.digest__btn1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: #a259ff;
}
.footer {
  background: #3b3b3b;
  margin: 80px auto 0;
  max-width: 1380px;
  height: 334px;
}
.footer__container {
  background: #3b3b3b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 60px 0;
}
.footer__text {
  color: #ccc;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer__interface {
  padding: 33px 0 20px;
}
.footer__social {
  padding: 15px 0 30px;
}
.explore__title,
.digest__title {
  padding-top: 10px;
  font-family: Space Mono;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.nav-list__item1 {
  padding: 25px 0 20px;
}
.nav-list__item3 {
  padding-top: 20px;
}
.digest__text {
  padding: 25px 0 20px;
}
.footer__copyright {
  padding: 20px 0 40px 115px;
}
hr {
  border: 1px solid #858584;
  max-width: 1050px;
  margin: 0 auto;
}
.highlight {
  position: relative;
}

.mail-icon {
  width: 20px;
  height: 20px;
}
.discord-logo,
.youtube-logo,
.twitter-logo,
.instagram-logo {
  width: 32px;
  height: 32px;
}
.footer__form {
  background: #3b3b3b;
  max-width: 1380px;
  height: 334px;
}
.account__form {
  display: flex;
  flex-direction: row;
}
.form__title {
  padding: 100px 0 20px 60px;
  font-family: Work Sans;
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
}
.form__text {
  padding: 0 0 40px 60px;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.create__form {
  padding-left: 60px;
}
.create__input {
  display: flex;
  height: 46px;
  width: 330px;
  padding: 16px 52px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid #858584;
  background: #fff;
  color: #2b2b2b;
}
.create__input::placeholder {
  color: #2b2b2b;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.user__form {
  position: relative;
}
.user-icon__form {
  position: absolute;
  top: 13px;
  left: 20px;
  width: 20px;
  height: 20px;
}
.mail__form {
  position: relative;
  padding: 15px 0;
}
.mail-icon__form {
  position: absolute;
  top: 28px;
  left: 20px;
  width: 20px;
  height: 20px;
}
.password__form {
  position: relative;
}
.password__form1 {
  position: relative;
  padding: 15px 0 30px;
}
.password-icon__form {
  position: absolute;
  top: 13px;
  left: 20px;
  width: 20px;
  height: 20px;
}
.password-icon__form1 {
  position: absolute;
  top: 28px;
  left: 20px;
  width: 20px;
  height: 20px;
}
.input__submit {
  display: flex;
  height: 46px;
  width: 330px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 20px;
  background: #a259ff;
}
.connection {
  display: flex;
  flex-direction: row;
}
.connection__form {
  padding: 100px 0 100px 60px;
}
.connection__title {
  font-family: Work Sans;
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
}
.connection__text {
  padding: 20px 0 40px;
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.wallet__image {
  display: flex;
  flex-direction: column;
}
.connection__image2 {
  padding: 20px 0 20px 0;
}
.rankings__title {
  font-family: Work Sans;
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  padding: 80px 0 20px 115px;
}
.rankings__text {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding-left: 115px;
}
.rankings__interval {
  margin-left: 115px;
  display: flex;
  flex-direction: row;
  height: 60px;
  min-width: 1050px;
  max-width: 1050px;
  padding: 14.5px 0 14.5px;
  justify-content: space-around;
}
.table__header {
  margin-left: 115px;
  display: flex;
  width: 1050px;
  padding: 12px 109px 12px 33px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #3b3b3b;
}
.interval__hr {
  border: 1px solid #858584;
  max-width: 240px;
  margin-left: 115px;
  margin-bottom: 40px;
}
.table__name1 {
  padding-left: 30px;
}
.table__name2 {
  padding-left: 395px;
}
.table__name3 {
  padding-left: 100px;
}
.table__name4 {
  padding-left: 130px;
}
.rankings__images {
  display: flex;
  flex-direction: column;
  min-width: 1050px;
  max-width: 1050px;
  margin: 0 auto;
  gap: 20px;
  padding: 20px 0 40px;
}
.rankings__img {
  max-width: 1050px;
}
.marketplace__title {
  font-family: Work Sans;
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  padding: 80px 115px 10px 115px;
}
.marketplace__text {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 0 115px 30px 115px;
}
.search__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 20px;
  margin: 0 115px 80px 115px;
  border-radius: 20px;
  border: 1px solid #3b3b3b;
}
.search-icon {
  width: 24px;
  height: 24px;
}
.quantity__tab {
  padding: 80px 115px 10px 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tab__ntf {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 525px;
}
.tab__oval {
  display: inline-block;
  background: #858584;
  text-align: center;
  border-radius: 20px;
  width: 50px;
  height: 32px;
  position: relative;
  left: 20px;
}
.tab__hr {
  border: 1px solid #858584;
  max-width: 520px;
  margin-left: 115px;
}
.tab__circle {
  display: inline-block;
  background: #3b3b3b;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 32px;
  position: relative;
  left: 20px;
}
.circle__number1 {
  z-index: 2;
  position: absolute;
  top: 7px;
  left: -4px;
  padding: 0em 0.9em;
  color: #fff;
}
.tab__collections {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.circle__number2 {
  z-index: 2;
  position: absolute;
  top: 7px;
  left: -4px;
  padding: 0em 0.9em;
  color: #fff;
}
.marketplace__cards {
  max-width: 1050px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto 80px;
}
@media (width<=375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .header {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
  }
  .header__nav {
    display: none;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 108px;
    gap: 10px;
  }
  .burger__menu-btn {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: flex-end;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
  }
  .hero__title {
    display: none;
  }
  .hero__title-mobil {
    display: flex;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 39.2px */
    text-transform: capitalize;
  }
  .hero__text {
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .hero__btn,
  .hero__prices {
    display: none;
  }
  .hero__btn-mobil {
    margin-top: 40px;
    display: flex;
    width: 255px;
  }
  .hero__img {
    height: 315px;
  }
  .card1,
  .card2 {
    display: none;
  }
  .creator1 {
    display: none;
  }
  .creator__btn {
    display: none;
  }
  .creator__btn-mobil {
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid #a259ff;
  }
  .discover__cards {
    display: flex;
    flex-direction: column;
  }
  .highlight__info {
    display: flex;
    flex-direction: column;
  }
  .start__container {
    display: flex;
    flex-direction: column;
  }
  .start__cards {
    display: flex;
    flex-direction: column;
  }
  .start__card {
    display: flex;
    flex-direction: row;
  }
  .subscription__card {
    display: flex;
    flex-direction: column;
  }
  .subscription__image {
    width: 315px;
    height: 255px;
  }
  .subscription__button {
    display: flex;
    flex-direction: column;
  }
  .subscription__btn1 {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .digest__button {
    min-width: 375px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .digest__btn1 {
    display: none;
  }
  .digest__btn1-mobil {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
