@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}
ul,
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #2b2b2b;
  color: #fff;
}
h1 {
  font-family: Work Sans;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  max-width: 1310px;
  padding: 0 30px;
  margin: 0 auto;
}
.header__container {
  padding: 20px 0 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__nav {
  width: 50%;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.registration__btn,
.hero__btn {
  background-color: #a259ff;
  border-radius: 20px;
  display: flex;
  height: 60px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 80px;
}
.hero__description {
  display: flex;
  flex-direction: column;
}
.hero__title {
  padding-top: 0;
}

.hero__text {
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 0 30px;
}
.hero__btn {
  width: 224px;
  padding: 0px 50px;
}
.hero__prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}
.hero__price {
  display: flex;
  flex-direction: column;
}
.hero__number {
  font-family: Space Mono;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.hero__note {
  font-family: Work Sans;
  font-size: 23.99px;
  font-style: normal;
  font-weight: 400;
}
.logo-icon {
  width: 32px;
  height: 32px;
}
.ntf-logo {
  width: 200px;
  height: 20px;
}
.nav-list__item {
  color: #fff;
}
.user-icon {
  width: 20px;
  height: 20px;
}
.rocket-icon {
  width: 20px;
  height: 20px;
}
.creator__circle {
  display: inline-block;
  background: #ccc;
  color: #000;
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateY(-50%);
}

.circle__number {
  position: relative;
  top: -0.5em;
  padding: 0em 0.65em;
}
.eye-icon {
  width: 20px;
  height: 20px;
}
.highlight {
  position: relative;
}
.highlight__img {
  background-size: cover;
  height: 670px;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(162, 89, 255, 0) 0%,
      #a259ff 100%
    ),
    url(../img/highlight_img.png);
}
.highlight__info {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  text-align: center;
}
.mail-icon {
  width: 20px;
  height: 20px;
}
.discord-logo,
.youtube-logo,
.twitter-logo,
.instagram-logo {
  width: 32px;
  height: 32px;
}
